.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 8%;

}

.container .card {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  }

  .container .card:nth-child(1){
    grid-row: span 2;
  }

  /* .card-img-top .row-height-250{
      max-height: 250em;
      overflow: hidden;
  } */


  